/* CSS commun */

/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* En-tête */
h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Sélection des quizz */
#game-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

button {
    background-color: #4CAF50; /* Vert foncé */
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Si tu veux styliser un peu les quizz eux-mêmes (pour unifier l'apparence des boutons, etc.) */
button {
    width: 200px;
    margin: 10px;
}

/* Ajout de quelques styles pour la page principale */
#game-selection {
    margin-top: 40px;
}
